//unocss
@import "@unocss/reset/tailwind.css";
@unocss all;

// 动画
@import "./transition.scss";

// 全局样式
body {
    width: 100%;
    min-width: 1200px;
    background: #f2f2f2;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
}

//富文本样式
.richText-container {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 16px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
    }

    h5 {
        font-size: 14px;
        font-weight: bold;
    }

    h6 {
        font-size: 12px;
        font-weight: bold;
    }
}
