//unocss
@import "@unocss/reset/tailwind.css";
@unocss all;

// 动画
@import "./transition.scss";

// 全局样式
body {
    width: 100%;
    min-width: 1200px;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
}
